<ion-header class="ion-no-border">
  <ion-row class="ion-justify-content-between ion-align-items-center">
    <div class="logo">
      <ion-img class="img-logo" src="/assets/icon/logo.png"></ion-img>
      <ion-label>
        Tekno Clarity
      </ion-label>
    </div>
    <ion-col>
      <ion-row class="ion-align-items-center">
        <ion-col class="tanggal-check" size="10">
          <p class="kota">Belajar Teknologi</p>
          <p class="tanggal">Jauh Lebih Jelas</p>
        </ion-col>
        <ion-col class="refresh-tanggal" size="2">
          <ion-icon name="rocket-sharp"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <div class="ion-padding-start">
    <p class="heading_typer">Artikel Terbaru :</p>
  </div>
  <ion-card *ngFor="let post of Posts">
    <ion-card-header>
      <p><img style="width: 100%;height: 100px;" src="{{post._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}}"></p>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" fill="clear" [routerLink]="['/tabs/', 'detail', post.id]">Baca Selengkapnya</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="120px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingText="Memuat Artikel...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>