<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="kontak">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Kontak</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tentang">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Tentang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tentang">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Cari</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>