<ion-header class="ion-no-border">
  <ion-row class="ion-justify-content-between ion-align-items-center">
    <ion-back-button defaultHref="/tabs/beranda"></ion-back-button>
    <ion-col>
      <div class="logo ion-text-center">
        <ion-img class="img-logo" src="/assets/icon/logo.png"></ion-img>
        <ion-label>
          Tekno Clarity
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="padding-top ion-justify-content-between ion-align-items-center">
  <ion-card *ngIf="postDetail">
    <img class="thumbnail_detail" src="{{postDetail._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}}" alt="">
    <h1 [innerHTML]="postDetail.title.rendered" class="ion-text-center"></h1>
    <div [innerHTML]="postDetail.content.rendered" class="ion-padding"></div> 
  </ion-card>
</ion-content>